{% load static tailwind_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Mate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

    <link
      href="https://fonts.googleapis.com/css2?family=Imprima&family=Lobster&family=Teko:wght@300..700&display=swap"
      rel="stylesheet"
    />
    {% tailwind_css %}
</head>
<body class="bg-darkgreen p-12 flex justify-center h-screen">
    <div class="bg-mddarkgreen rounded-2xl p-6">
        <div class="flex items-center justify-between">
            <h1 class="font-lobster font-medium text-4xl text-orangeskin">Welcome,&nbsp;{{request.user.username}}!</h1>
            <form method="POST" action="{% url "logout" %}" class="bg-pinkskin rounded-md font-bold px-2 py-1 hover:bg-darkpinkskin">
                {% csrf_token %}
                <button type="submit" class="text-darkgreen">Log Out</button>
            </form>
        </div>
        
        
        <p class="font-imprima text-orangeskin pt-2">Elevate your home cooking with our AI-powered recipe assistant.</p>
        <div class="pt-5 text-offwhite">
            <h3 class="font-teko ">Previously entered ingredients:</h3>
            <div class="font-imprima">
                {% for ingredient in ingredients %}
                    {% if ingredient.userName.username == request.user.username %}
                        <p>{{ ingredient.ingredientName }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="pt-5 pb-5 text-offwhite">
            <h3 class="font-teko">Previously generated recipes:</h3>
            <div class="font-imprima">
                {% for recipe in recipes %}
                    {% if request.user.username == recipe.userName.username%}
                        <p>{{ recipe.recipeName }}, {{ recipe.calories }} cal</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        
        <a href={% url "newmeal" %} class="bg-pinkskin rounded-md text-darkgreen font-bold px-4 py-1 hover:bg-darkpinkskin">
        <button>Make a new meal</button></a>
    </div>
</body>
</html>