{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link
      href="https://fonts.googleapis.com/css2?family=Imprima&family=Lobster&family=Teko:wght@300..700&display=swap"
      rel="stylesheet"
    />
    {% tailwind_css %}
</head>
<body>
    <div>
        <h2>Logout</h2>
        <p>Are you sure you want to logout?</p>
        <form method="POST" action="{% url "logout" %}">
            {% csrf_token %}
            <button type="submit">Log Out</button>
            <a href="{% url "home" %}">Cancel</a>
        </form>
    </div>
</body>
</html>